<main class="main-conainer">
  <form method="POST" action="">
    <input class="search-box" placeholder="Search Job Title" />
  </form>
  <div class="model-wrapper">
    <img src="./home-view-model.png" />
  </div>
</main>
